version: '3.8'

services:
  db:
    image: postgres:15-alpine
    restart: unless-stopped
    environment:
      POSTGRES_DB: cryptos_db
      POSTGRES_USER: cryptos_user
      POSTGRES_PASSWORD: cryptos_password
    ports:
      - "5432:5432"

  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080
  minio:
      image: minio/minio
      restart: unless-stopped
      ports:
        - "9000:9000" # API Port
        - "9001:9001" # Web Console Port
      environment:
        MINIO_ROOT_USER: minio_admin
        MINIO_ROOT_PASSWORD: minio_password
      volumes:
        - minio_data:/data
      command: server /data --console-address ":9001"

volumes:
  minio_data:
